{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">

        <h1 class="mb-5">Mon panier</h1>

        <div class="row">

            <div class="col-md-8">
                {% for product in cart %}
                    <div class="row mt-2">
                        {# {{ dump(product) }} #}
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.object.illustration }}" class="img-fluid"
                                 alt="{{ product.object.name }}">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block small">
                                Prix unitaire : {{ product.object.price|formatedPrice }}
                            </span>
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="{{ path('app_cart_decrease', { id : product.object.id }) }}">
                                -
                            </a>
                            <span class="badge text-bg-secondary">
                                x{{ product.quantity }}
                            </span>
                            <a href="{{ path('app_cart_add', { id : product.object.id }) }}">
                                +
                            </a>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.quantity * product.object.priceWT)|formatedPrice }}</strong>
                        </div>
                    </div>
                {% endfor %}
                {% if cart %}
                    <a href="{{ path('app_cart_remove') }}" class="small d-block btn btn-danger mt-5">Vider le
                        panier</a>
                {% endif %}
            </div>

            <div class="col-md-4">
                <div class="bg-light p-3">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Total produit</span>
                        <span>{{ fullCartQuantity }}</span>
                    </div>
                    <div class="d-flex justify-content-between mp-3">
                        <span class="fw-bold">Prix Total T.T.C</span>
                        <span>{{ totalWT|formatedPrice }}</span>
                    </div>
                    <div>
                        <a href="{{ path('app_order') }}" class="btn btn-success w-100 mt-3">Commander</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
