{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">

        <div class="row">
            <h1>Espace Mon Compte</h1>

            <div class="col-md-3">

                {% include 'account/nav.html.twig' %}

            </div>


            <div class="col-md-9">
                <small><a href="{{ path('app_account') }}" class="btn btn-light btn-sm">Retour</a> <a target="_blank" href="{{ path('app_invoice_customer', { id_order : order.id }) }}" class="btn btn-light btn-sm">Ma facture</a></small>

                <h5 class="my-3">Ma commande n° : {{ order.id}} </h5>
                <span class="small">Passé le {{ order.createdAt|date('d/m/Y') }}</span><br>

                {{ include('admin/state.html.twig',  { field : {'value' : order.state} } ) }}
                <br>
                <hr>

                <div class="row my-4">
                    <div class="col-md-6">
                        <strong>Adresse de livraison</strong>
                        {{ order.delivery|raw }}
                    </div>
                    <div class="col-md-6">
                        <strong>Transporteur</strong>
                        {{ order.carrierName }}
                    </div>
                </div>

                <hr>
                <strong>Contenu de la commande :</strong><br>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Illustration</th>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unitaire HT</th>
                        <th scope="col">TVA</th>
                        <th scope="col">Total TTC</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in order.orderDetails %}
                        <tr>
                            <td>
                                <img src="/uploads/{{ product.productIllustration }}" width="100px" alt="">
                            </td>
                            <td>{{ product.productName }}</td>
                            <td>{{ product.productQuantity }}</td>
                            <td>{{ product.productPrice|formatedPrice }}</td>
                            <td>{{ product.productTva }}%</td>

                            {% set coeff = 1 + (product.productTva) / 100 %}
                            <td>{{ ((product.productPrice * coeff) * product.productQuantity)|formatedPrice }}</td>

                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td>{{ order.carrierName }}</td>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td>{{ order.carrierPrice|formatedPrice }}</td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <span class="small"> Total H.T : {{ (order.totalWt - order.totalTva)|formatedPrice }}</span>  <br>
                    <span class="small"> Total TVA : {{ order.totalTva|formatedPrice }}</span>  <br>
                    <strong> Total TTC : {{ order.totalWt|formatedPrice }}</strong>  <br>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
